<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
        <tr>
            <td>data for courses</td>
            <td>data for courses</td>
            <td>data for courses</td>
        </tr>
    </tbody>
</table>
